    .activeDroppable {
      background-color: #eeffee;
    }

    .hoverDroppable {
      background-color: lightgreen;
    }

    .draggableField {
      /* float: left; */
      padding-left:5px;
    }
    
    .draggableField > input,select, button, .checkboxgroup, .selectmultiple, .radiogroup {
      margin-top: 10px;
      
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .draggableField:hover{
      background-color: #ccffcc;
    }
    
    .control-label {
      display: inline-block !important;
      pasdding-top: 5px;
      text-align: right;
      vertical-align: baseline;
      padding-right: 10px;
    }
    
    .droppedField {
      padding-left:5px;
    }

    .droppedField > input,select, button, .checkboxgroup, .selectmultiple, .radiogroup {
      margin-top: 10px;
      
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .action-bar .droppedField {
      float: left;
      padding-left:5px;
    }


.draggable-element{

  border: 2px solid grey;
  margin: 3px;
  background-color: #f4f9b3;
}