  
<div class="container" style="width:100%, height:100%">
   <map zoom="17" center="18.5646521, 73.8126486" style="height:100%">
    <shape name="rectangle" editable="true" draggable="true" bounds="[[18.5646521, 73.8126486],[18.5656522,73.8136497]]" on-bounds_changed="boundsChanged()">
    </shape>
    <info-window id="foo">
      <div ng-non-bindable="">
        <b>Rectangle moved.</b><br>
        New north-east corner: {{ne.lat()}}, {{ne.lng()}}<br>
        New south-west corner: {{sw.lat()}}, {{sw.lng()}}
      </div>
    </info-window>
  </map>
        <b>Rectangle moved.</b><br>
        New north-east corner: {{ne.lat()}}, {{ne.lng()}}<br>
        New south-west corner: {{sw.lat()}}, {{sw.lng()}}

<script>
div[ng-controller=mapLanding-controller] {
  position: relative;
}
div[ng-controller=mapLanding-controller] #panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -90px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}div[ng-controller=mapLanding-controller] {
  position: relative;
}
div[ng-controller=mapLanding-controller] #panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -90px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
</script>




</div>

