<div class="container">
    <div class="row">

                        <h3 class="broadcastUpdate">
                            Broadcast an Update
                        </h3>
                        <br/>
                        <form name="broadcastUpdate" class="form-signup" role="form">
                           
                          <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="territory"> Territory</label>
                            <div class="col-sm-8">
                                <span class="block input-icon input-icon-right">

                                <select ng-model="broadcastUpdate.territory" ng-options="territory.id as territory.territoryName for territory in territories">
                                <option value="">Select Territory</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="event"> Update </label>
                            <div class="col-sm-8">
                                <span class="block input-icon input-icon-right">

                                <select ng-model="broadcastUpdate.event" ng-options="event.id as event.eventName for event in events">
                                <option value="">Select events</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="event"> People </label>
                            <div class="col-sm-8">
                                <span class="block input-icon input-icon-right">

                                <select ng-model="broadcastUpdate.intrested" ng-options="interested.id as interested.interestedName for interested in people">
                                <option value="">Select Interested </option>
                                </select>
                            </div>
                        </div>

                                                  
                        <div class="form-group">
                                     <label class="col-sm-4 control-label no-padding-right" for="start"> Schedule</label>
                                      <div class="col-sm-8">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                         <span class="glyphicon glyphicon-calendar"></span>
                                     </span>
                                </div>
                            </div>
                        </div>
                             
                         
                          
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="customize">Costomized message</label>
                                <div class="col-sm-8">
                                <span class="block input-icon input-icon-right">
                                <textarea class="form-control" placeholder="Give an update" ng-model="broadcastUpdate.customize"/>
                               </textarea>                                                          </span>
                                </div>
                            </div>

                             <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="Medium">Choose a medium</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                <input type="checkbox" name="1" value="SMS" class="form-control"  ng-model="broadcastUpdate.medium">SMS </input>
                                <input type="checkbox" name="2" value="E-mail" class="form-control"  ng-model="broadcastUpdate.medium">Send E-mail </input>
                                </span>
                                </div>
                            </div>
    
                                       
                              
                             <div class="form-group">
                                <span class="lbl col-sm-3"> </span>
                                <div class="col-sm-9">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="createTerritory(createTerritory)" data-ng-disabled="createTerritory.$invalid">
                                        Broadcast this Update :)
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->