<div class="container">
    <div class="row">

                        <h3 class="pinUpdate">
                            Pin an Update
                        </h3>
                        <br/>
                        <form name="pinUpdate" class="form-signup" role="form">
                           <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="category"> Category</label>
                            <div class="col-sm-8">
                                <span class="block input-icon input-icon-right">

                                <select ng-model="pinUpdate.category" ng-options="categories.id as category.categoryName for category in categories">
                                <option value="">Select Category</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="scope"> Scope</label>
                            <div class="col-sm-8">
                                <span class="block input-icon input-icon-right">

                                <select ng-model="pinUpdate.scope" ng-options="scopes.id as scope.scopeName for scope in scopes">
                                <option value="">Select Scope</option>
                                </select>
                            </div>
                        </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="scope"> Territory</label>
                            <div class="col-sm-8">
                                <span class="block input-icon input-icon-right">

                                <select ng-model="pinUpdate.territory" ng-options="territory.id as territory.territoryName for territory in territories">
                                <option value="">Select Territory</option>
                                </select>
                            </div>
                        </div>

                                                  
                                <div class="form-group">
                                     <label class="col-sm-4 control-label no-padding-right" for="start"> Start Date</label>
                                      <div class="col-sm-8">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                         <span class="glyphicon glyphicon-calendar"></span>
                                     </span>
                                </div>
                            </div>
                             </div>
                         
                          <div class="form-group">
                                     <label class="col-sm-4 control-label no-padding-right" for="end">End Date</label>
                                      <div class="col-sm-8">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                         <span class="glyphicon glyphicon-calendar"></span>
                                     </span>
                                </div>
                            </div>
                         </div>
                         <script type="text/javascript">
                                 $(function () {
                                        $('#datetimepicker1').datetimepicker();
                                                });
                                        </script>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="location">Location</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="location" ng-model="pinUpdate.location"/>
                                                            </span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="describe">Describe</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                <textarea class="form-control" placeholder="Give a description of update" ng-model="pinUpdate.describe"/>
                                </textarea>
                                                            </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="location">Cost</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Cost" ng-model="pinUpdate.cost"/>
                                                            </span>
                                </div>
                            </div>
                            <!-- File Upload --> 
                             <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="logo">Photo</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                               <input type="file" name="createTerritory.logo" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                            </span>
                                </div>
                            </div>
                            
                            <br>
                            
                              
                             <div class="form-group">
                                <span class="lbl col-sm-3"> </span>
                                <div class="col-sm-9">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="createTerritory(createTerritory)" data-ng-disabled="createTerritory.$invalid">
                                        Pin Update in Territory :)
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->