<div class="container">
    <div class="row">

                        <h3 class="form-signup-heading">
                            Signup
                        </h3>
                        <br/>
                        <form name="signupForm" class="form-signup" role="form">
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="email">Email</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="signup.email" focus/>
                                        <span ng-show="signupForm.email.$error.email" class="help-inline">Email is not valid</span> 
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="password">Password</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "password" placeholder="Password" ng-model="signup.password" required/>
                                <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Enter Password.</small>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="password2">Confirm Password</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="signup.password2" password-match="signup.password" required/>                                
                                <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> Enter password again.</small>

                               <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> Password do not match.</small>

                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="name">Name</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Name" ng-model="signup.name" />
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="phone">Phone</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Phone" name="phone" ng-model="signup.phone"/>
                            </span>
                                </div>
                            </div>

                            
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="territory"> Teritory</label>
                                <div class="col-sm-8">
                                <span class="block input-icon input-icon-right">

<select ng-model="signup.territories" ng-options="territories.id as territory.territoryName for territory in territories">
                          <option value="">Select Territory</option>
        </select>

                                </span>

                                 </div>


                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="describe">Describe Yourself</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                <textarea rows="4" cols="50" class="form-control" placeholder="Describe Yourself" ng-model="signup.describe">
                                </textarea>
                            </span>
                                </div>
                            </div>

                            <!-- File Upload --> 
                             <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="describe">Upload a profile Picture</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                               <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                            </span>
                                </div>
                            </div>
                            
                            <br>
                            

                            <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="describe">Upload ID :</label>
                                    <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                               <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                            </span>
                                </div>
                            </div>

                                
                             <div class="form-group">
                                <span class="lbl col-sm-3"> </span>
                                <div class="col-sm-9">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
                                        Sign Up
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                            <span class="lbl col-sm-4"> </span>
                            <div class="col-sm-8">Already have an account? <a href="#/login">SignIn</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->