<div class="container">
	<div class="row">
    <h2 class="form-signin-heading"> Login </h2>
  <form name="loginForm" class="form-signin" ng-submit="login()">

    <div ng-class="{'has-error': loginForm.username.$invalid && loginForm.username.$dirty}">
        <input class="form-control" id="username" name="username"
               ng-model="username" placeholder="User Name" type="text" required />
        <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">User name is required.</p>
    </div>

     <div ng-class="{'has-error': loginForm.territory.$invalid && loginForm.territory.$dirty}">
        <input class="form-control" id="territory" name="territory"
               ng-model="territory" placeholder="Territory" type="text" list="territoryList" required  />
        <p ng-show="loginForm.territory.$invalid && !loginForm.territory.$pristine" class="help-block">Territory is required.</p>
    <datalist id="territoryList">
        <option  data-ng-repeat="ttl in territories" value="{{ttl}}">
    </datalist>
    </div>

    <div ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">
       <input class="form-control" id="password" name="password"
              ng-model="password" placeholder="Password" type="password" required />
       <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Password is required.</p>
    </div>

    <div>
        <input id="remember_me" name="remember_me" type="checkbox" value="y" class="pull-left"> <label for="remember_me"> &nbsp;&nbsp;Remember me</label>
    </div>

    <input class="btn btn-lg btn-primary btn-block" id="login" name="login" type="submit" value="Sign in">
    <div>Don't have an account? <a ui-sref="register">register</a></div>
 				  
    <div class="alert alert-danger" role="alert" ng-show="loginError"> <strong>Warning!</strong> Invalid username/password. Please try again.</div>
    </form>

</div>
	
