<div class="container">
    <div class="row">

                        <h3 class="createTerritory">
                            Mark your Territory
                        </h3>
                        <br/>
                        <form name="createTerritory" class="form-signup" role="form">
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="email">Email</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="createTerritory.email" focus/>
                                       
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="name">Name of Org or Area</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Name" ng-model="createTerritory.name" />
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="population">No. of People</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="population" name="population" ng-model="createTerritory.population"/>
                            </span>
                                </div>
                            </div>

                            
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="typeTerritory"> Type</label>
                                <div class="col-sm-8">
                                <span class="block input-icon input-icon-right">

<select ng-model="createTerritory.typeTerritory" ng-options="territories.id as territory.territoryName for territory in territories">
                          <option value="">Select Type of Territory</option>
        </select>

                                </span>

                                 </div>


                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="describe">Website</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="website" ng-model="createTerritory.website"/>
                                                            </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="describe">Describe</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                                <textarea class="form-control" placeholder="website" ng-model="createTerritory.describe"/>
                                </textarea>
                                                            </span>
                                </div>
                            </div>
                            <!-- File Upload --> 
                             <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="logo">Logo</label>
                                <div class="col-sm-8">
                                    <span class="block input-icon input-icon-right">
                               <input type="file" name="createTerritory.logo" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                            </span>
                                </div>
                            </div>
                            
                            <br>
                            
                              
                             <div class="form-group">
                                <span class="lbl col-sm-3"> </span>
                                <div class="col-sm-9">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="createTerritory(createTerritory)" data-ng-disabled="createTerritory.$invalid">
                                        Mark It on Map :)
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->