	<hr>
		<footer id="footer" class="footer">
			<div class="footer-left">
				<a href="/about">About</a> | <a href="/">Home</a>
			</div>
			<div class="footer-right">
				<span>&copy; 2015 Collabal</span>
			</div>
		</footer>

	</div>
	
</body>
</html>