
<nav class="navbar navbar-default navbar-static-top">
<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header" >
		<button type="button" class="navbar-toggle collapsed"
			data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
			aria-expanded="false">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
		Collabal || Keep Learning. Keep Smiling :)
		<!--<a class="brand" href="/"> <img alt="smsmagiclogo"
			src="../../static/img/collabal.png" class='smlogo' />

		</a> -->
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav" ng-show="token">
			<li class="active"><a href="#/templates">Login 	</a>
			</li>
			<li><a href="#/smslog">Create</a>
			</li>
			<li><a href="#/incomingsms">Your Territory Updates</a>
			</li>
				<li><a href="#">Broadcast</a>
			</li>
			<li><a href="#/forms">Tools</a>
			</li>
			<li>
			<a href="#/logout">Logout</a>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid --> </nav>